.button {
  width: 7rem;
  height: 3rem;
  color: #fff;
  font-size: 1.1rem;
  background-color: #7e22ce;
  font-weight: 600;
  border-radius: 1ch;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
